.form-group label {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  display: block;
}

.form-group select {
  display: block;
}

.breadcrumb {
  background-color: inherit;
}

.pagination > li > a {
  margin-left: 5px;
}

.pagination > li.spacer > span {
  border: 0px;
  margin-left: 5px;
}

.sub-navbar .navbar-right {
  margin-right: 0;
}

.sub-navbar .navbar-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.panel-heading .btn {
 margin-top:0px;
 margin-bottom:0px;
 padding-top:0px;
 padding-bottom: 0px;
}

#jsoneditor3 {
  height: 500px;
}

#jsoneditor2 {
  height: 200px;
}

#jsoneditor1 {
  height: 800px;
}

.panelized-table {
    padding-right: 45px;
}

.form-choice {
    padding-top: 7px;
}

.flow-param-group {
    padding-bottom: 15px;
}

.flow-hidden {
  font-style: italic;
  color: #f00;
}

.job-refresh {
    float: right;
    margin-top: 10px;
}

#spinner {
    display: none;
}

.loading #spinner {
    display: block;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -15px;
    padding-top: 10px;
    z-index: 10;
    width: 51px;
    height: 51px;
    background: #333;
    border-radius: 6px;
    text-align: center;
}

.loading #spinner .fa {
    font-size: 30px;
    color: #fff;
}


