### Assign your API-key here (must be aplpha-numerical)
Rails.application.config.api_key = <your_key_here>

### USER ROLES DEFINITION
### Create a new role by adding another hash with a unique name of the role as well as a list of rights. Unassignable states that the role cannot be assigned to users.
### Available rights are: 'view_users', 'manage_users', 'view_tree', 'manage_tree', 'manage_tree_root'
Rails.application.config.user_roles = [
	{
    name: "ADMIN",
    rights: ['view_users', 'manage_users', 'view_tree', 'manage_tree', 'manage_tree_root']
  },
  {
    name: "GUEST",
    unassignable: true,
    rights: ['view_tree']
  },
  {
    name: "OPERATOR",
    rights: ['view_tree', 'manage_tree']
  },
  {
    name: "API_KEY",
    unassignable: true,
    rights: ['view_tree', 'manage_tree']
  }
]

# Flags for using external authentication source
Rails.application.config.external_auth = false
Rails.application.config.external_auth_url = "https://login-server.example.com/auth"

# List of all available processes, the id is what identifies the process in the flow.
Rails.application.config.process_list = {
	"scan_job" => {
		id: "scan_job"
	},
	"rename_files" => {
		id: "rename_files"
	},
	"move_files" => {
		id: "move_files"
	},
	"copy_files" => {
		id: "copy_files"
	}
}

# List of available sources
Rails.application.config.sources = [
  {
    name: 'libris',
    label: 'Libris',
    class_name: 'Libris'
  },
  {
    name: 'other_source',
    label: 'Other Source',
    class_name: 'OtherSource'
  },
  {
    name: 'operakallan',
    label: 'Operakällan',
    class_name: 'UpperClass'
  }
]
