<button class="btn btn-default"{{action 'refreshModel'}}>Uppdatera</button>
<hr/>
{{#if model.meta.queue_manager_limited}}
  <div class="col-xs-12 alert alert-warning">
    Köhanteraren är begränsad till {{model.meta.queue_manager_limit_count}} samtidiga WAITFOR-processer.<br/>
    Övriga processer kommer ej bearbetas förrän WAITFOR hamnat under gränsen igen.
  </div>
{{/if}}
  <table class="table">
    <thead>
      <tr>
        <th>Jobb ID</th>
        <th>Process</th>
        <th>Info</th>
        <th>Aktiverad</th>
        <th>Startad</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |step|}}
        {{step-row step=step}}
      {{/each}}
    </tbody>
  {{step.id}}
</table>
