### API KEY USED FOR API-CALLS
api_key_users:
  -
    username: test_key_user
    name: Test key User
    role: API_KEY
    api_key: test_key

# Flags for using external authentication source
external_auth: false

# CAS login service URL
cas_url: "https://example.com"

# Adapter for file management
file_adapter: dfile

## dFile Parameters
dfile_base_url: "http://localhost"
dfile_api_key: test_key

# Settings for redis db
redis_db:
  db: 0
  host: localhost
