# Contains settings needed for setting up a development environment

# Define an api_key
api_key_users:
  -
    username: test_key_user
    name: Test key user
    role: API_KEY
    api_key: test_key

# Flag for using an external authentication source (false if using CAS)
external_auth: false

# CAS login service URL
cas_url: "https://cas.example.com

# Adapter for file management (only dfile atm)
file_adapter: dfile

# dFile parameters (You need to run a locl instance of dFile, or link to an external server setup)
dfile_base_url: "http://localhost:3001" # Your local path to dFile
dfile_api_key: test_key # Your local dFile application's api_key

# Settings for redis db (Used for tests and processes, install with 'sudo-apt get install redis-server')
redis_db:
  db: 0
  host: localhost

# Settings for queue_manager
queue_manager:
  
  # Location of pid file (location where a temporary file will be stored. New queue processes will not be started while the process contained in this file is running)
  pid_file_location: '/tmp/dflow_queue_manager_pid'
  
