### API KEY USED FOR API-CALLS
api_key_users:
  -
    username: test_key_user
    name: Test key User
    role: API_KEY
    api_key: test_key
# External authentication source
external_auth_url: "https://example.org/auth"

## dFile Parameters
dfile_base_url: "http://dfile.example.org/"
dfile_api_key: test_key
