---
username: 'admin'
password: '1234'

_cas_url:
  system: true
  info: "Ange adress till CAS-inloggning"
cas_url: https://example.com/login
_dfile_base_url:
  system: true
  info: "Ange adress till dFile"
dfile_base_url: http://localhost:3001
_dfile_api_key:
  system: true
  info: "Ange api-nyckel till dFile"
dfile_api_key: test_key
_dcat_base_url:
  system: true
  info: "Ange adress till dCat"
dcat_base_url: http://localhost:3002
_dcat_api_key:
  system: true
  info: "Ange api-nyckel till dCat"
dcat_api_key: test_key
_redis_db:
  info: "Köhanteraren kräver en redis-databas, ange nedan inställningar för denna"
redis_db:
  _db:
    info: "Ange vilken redis-databas (0-16) som ska användas av köhanteraren"
    system: true
    type: "selectone"
    options:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
  db: 2
  _host:
    info: "Ange hostnamn för redis databasen, default: localhost"
    system: true
  host: localhost
_package_name:
  info: "Ange vilket format som paket ska lagras som, ex: GUB%07d för GUB0000001"
package_name: GUB%07d
_package_dir:
  info: 'Ange vilket format katalogstrukturen ska ha, ex: GUB%04d för GUB0000'
package_dir: GUB%04d
_dir_size:
  info: 'Ange antalet paket som kan lagras under en katalog, ex: 1000'
dir_size: 1000
_pdf_settings:
  info: "Konfigurerbara inställningar för ett jobbs arbetsorder"
pdf_settings:
  _operators:
    info: "Ange hur operatörsblocket ska skrivas ut i PDFen"
  operators: "[ ] Maria     [ ] Grim     [ ] Ingela"
  _equipments:
    info: "Ange hur utrustningsblocket ska skrivas ut i PDFen"
  equipments: "[ ] Robot    [ ] Zeutschel    [ ] Canon "
_user_roles:
  info: Definiera ytterligare användarroller här i JSON-format
user_roles:
- name: OPERATOR
  rights:
  - view_tree
  - manage_tree
  - manage_jobs
_api_key_users:
  info: Skapa API-användare här i JSON-format
api_key_users:
- username: test_key_user
  name: Test key User
  role: API_KEY
  api_key: test_key
_queue_manager:
  info: "Inställningar som rör köhanteraren och dess processer"
queue_manager:
  _processes:
    info: "Inställningar som rör processerna"
  processes:
    _queue_manager_waitfor_limit:
      info: "Ange max antal tillåtna WAITFOR-processer för QueueManager (tomt för obegränsat)"
    queue_manager_waitfor_limit:
    _mets:
      info: "Inställningar som rör metsprocessen"
    mets:
      _CREATOR:
        info: "Inställningar som ligger till grund för CREATOR-blocket i METS-filen"
      CREATOR:
        _name:
          info: "Ange namnet på institution som skapat paketet"
        name: GUB, Göteborgs universitetsbibliotek, Digitala tjänster
        _sigel:
          info: "Ange sigel för institution som skapat paketet"
        sigel: Gdig
      _ARCHIVIST:
        info: "Inställningar som ligger till grund för ARCHIVIST-blocket i METS-filen"
      ARCHIVIST:
        _name:
          info: "Ange namnet på institution som arkiverar paketet"
        name: UUB, Uppsala universitetsbibliotek
        _sigel:
          info: "Ange sigel för den institution som arkiverar paketet"
        sigel: U
      _COPYRIGHT_STATUS:
        info: "Inställningar som hanterar COPYRIGHT_STATUS-blocket i METS-filen"
      COPYRIGHT_STATUS:
        _true:
          info: "Ange vilken text som ska ange att ett verk är upphovsrättsskyddat i METS-filen"
        'true': copyrighted
        _false:
          info: "Ange vilken text som ska ange att ett verk är upphovsrättsfritt i METS-filen"
        'false': pd
      _PUBLICATION_STATUS:
        info: "Inställningar som hanterar PUBLICATION_STATUS-blocket i METS-filen"
      PUBLICATION_STATUS:
        _true:
          info: "Ange vilken text som ska anges ifall paketet är publicerat"
        'true': unpublished
        _false:
          info: "Ange vilken text som ska anges ifall paketet ej är publicerat"
        'false': unpublished
    _import_metadata:
      info: Inställningar som rör import av metadata som exporterats från ScanGate
    import_metadata:
      _require_physical:
        info: Ange ifall physical ska krävas av importscript
        type: radio
        options:
          - true
          - false
      require_physical: false
      _validate_group_name:
        info: Ange ifall gruppnamn ska valideras mot information från källan
        type: radio
        options:
          - true
          - false
      validate_group_name: false
