development: &default
  adapter: postgresql
  encoding: unicode
  database: dflow_development
  username: postgres
  password:
  host: localhost

test:
  <<: *default
  database: dflow_test

production: &live
  <<: *default
  database: dflow_production

staging:
  <<: *live
  database: dflow_staging

lab:
  <<: *live
  database: dflow_lab
