production:
  host: host1.example.com
  port: 22
  user: username
  roles:
    - app
    - db
    - web
  path: '/path/on/server'

staging:
  host: host2.example.com
  port: 22
  user: username
  roles:
    - app
    - db
    - web
  path: '/path/on/server'

lab:
  host: host3.example.com 
  port: 22
  user: username
  roles:
    - app
    - db
    - web
  path: '/path/on/server/'
