production:
  host: host1.example.com
  port: 22
  user: username
  path: '/apps/dFlow'

staging:
  host: host2.example.com
  port: 22
  user: username
  path: '/apps/dFlow'

lab:
  host: host3.example.com 
  port: 22
  user: username
  path: '/apps/dFlow'
