<div style="margin-left:10px;margin-bottom:20px;padding-bottom:10px;border-left:1px dotted black;padding-left:5px">
  <h3><%=key%></h3>
  <% if meta['system'] && @is_setup%>
    Du har redan sparat systeminställningarna. För att ändra dessa, sätt 'is_setup' till 'false' i config/config_full.yml
  <% else %>
  <% if meta['info'] %>
    <div class="alert alert-info"><%= meta['info'] %></div>
  <% end %>
  <% value.each do |key2,value2| %>
    <%= render partial: 'fieldselector', locals: {key: key2, value: value2, path: "#{path}[#{key2}]", meta: (value['_'+key2.to_s] || {}) } %>
  <% end %>
<% end %>
</div>
